 Volume in drive C is OS
 Volume Serial Number is 0E6B-C34B

 Directory of C:\Users\Abdel\Documents\GithubRepo\mavenProject

07/02/2019  05:11 PM    <DIR>          .
07/02/2019  05:11 PM    <DIR>          ..
06/29/2019  10:37 PM             1,342 .classpath
06/29/2019  10:35 PM               564 .project
06/29/2019  11:15 PM    <DIR>          .settings
06/29/2019  10:41 PM               874 pom.xml
07/02/2019  05:11 PM                 0 settings.xml
06/29/2019  11:15 PM    <DIR>          src
06/29/2019  11:15 PM    <DIR>          target
               4 File(s)          2,780 bytes
               5 Dir(s)  680,295,878,656 bytes free
